img {
    width: 270px;
}

/*Top Section*/
#top {
    display: grid;
    grid-template-columns: 1fr 60px 120px;
    grid-template-rows: 50px;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    justify-self: center;
    align-self: center;
    font-size: 13px;
}
a:hover{
    text-decoration: underline;
    color: #616161;
}
/*Main Section*/
#main {
    display: grid;
    grid-template-columns: 1fr 482px 1fr;
    grid-template-rows: 225px 100px;
    grid-template-areas:
    ". logo ."
    ". form1 .";
}

#form1{
    grid-area: form1;
    justify-self: center;
}
#logo {
    grid-area: logo;
    width: max-content;
    justify-self: center;
    padding-bottom: 32px;
    padding-left: 2px;
    align-self: end;
    ;
}
#search-bar{
    border-radius: 25px;
    border: 1px #cccccc;
    border-style: solid;  
    padding-left: 20px; 
    width: 458px;
    height: 40px;
}
#search-bar:focus, #search-bar:hover{
    box-shadow: 1px 1px 5px #B8B8B8;
}
#Google, #feeling-lucky{
    justify-self: center;
    border: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: #616161;
    background-color: #F2F2F2;
    margin-top: 30px;
    font-size: 14px;
}
#Google {
    margin-left: 100px;
}
#feeling-lucky{
    margin-left: 8px;
}
#Google:hover, #feeling-lucky:hover {
    border: 1px #C0C0C0;
    border-style: solid;
    color: black;
    box-shadow: 1px 1px 1px #E5E5E5;
}
